.light{
  background: blue;
}

.light2{
  background: #ff002c;
}

body{
  background-color: rgb(59, 56, 56);
 }
table{
  color: white;
  margin: auto;
  border: 1px solid white;
  border-collapse: collapse;
}
td{
  font-size: 20px;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}


