body{
  background-color: #4088ad;
}

.whole{
  display: flex;
  margin: auto;
  width: 50%;
  max-width: 900px;
  justify-content: center;

  padding: 20px 20px;

}

#statusBox{
  height: 300px;
  width: 200px;
  color: #d700ff;
  font-weight: bold;
  border: 5px outset #000000;
  background-color: #cccbcb;
  padding: 10px 10px;
  overflow: auto;
  box-sizing: border-box;


}

#chatBox{
  height: 300px;
  width: 200px;
  border: 5px outset #000000;
  background-color: #cccbcb;
  padding: 10px 10px;
  overflow: auto;
  box-sizing: border-box;
}

#header{
  font-size: 25px;
  font-family: Georgia;
  -webkit-text-fill-color: #000000;
}

#boxes{
  font-size: 20px;
  -webkit-text-fill-color: black;
}

#submit{
  background-color: greenyellow;
}

#leave{
  background-color: #e33c55;
}

.timestamp {
  font-weight: bold;
  font-size: 10px;
  color: #000000; /* Change the color to your preference */
  margin-right: 5px; /* Adjust the spacing as needed */
}


